{%- style -%}
        .section-{{ section.id }}-padding {
       padding-block: {{ section.settings.padding_top | times: 0.75 | round: 0 | append:'px' }} {{ section.settings.padding_bottom | times: 0.75 | round: 0 | append:'px' }};
           }
   @media screen and (max-width: 600px) {
      padding-block: {{ section.settings.padding_top_mob | append:'px' | default:0 }}  {{ section.settings.padding_bottom_mob | append:'px' | default:0 }};
       }}
     @media screen and (min-width: 1100px) {
       .section-{{ section.id }}-padding {
         padding-block: {{ section.settings.padding_top | append:'px' | default:0 }} {{ section.settings.padding_bottom |  append:'px' | default:0}};
       }
     }
  :root{
   --card-title_color : {{section.settings.card_title_color}};
   --card-rounded : {{section.settings.card_rounded | append:'px'}};
    
  }
{%- endstyle -%}
<section
  class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  id="section--{{ section.id }}"
  {% if settings.animations_reveal_on_scroll %}
    data-cascade
  {% endif %}
>
  <div class="{{ section.settings.sec_size }}" id="{{ section.id }}">
     {%- if section.settings.sec_title != blank -%}
        <h2 class="title text-{{ section.settings.title_alignment }} inline-richtext{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.sec_title }}
        </h2>
      {%- endif -%}
    <div class="product-card-section">
      
  {% for block in section.blocks %}
    {% if block.type == 'product' %}
      {% assign product = all_products[block.settings.selected_product] %}
      {% if product %}
        <product-card 
          product-id="{{ product.id }}" 
          product-title="{{ product.title }}" 
          product-title="{{ product.url }}" 
          product-image="{{ product.featured_image | img_url: 'master' }}" 
          product-price="{{ product.price | money }}">
        </product-card>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
  </div>
</section>

{% schema %}
{
  "name": "Product Card Section",
  "settings": [
     {
      "type": "text",
      "id": "sec_title",
      "label": "Section Title"
    },
   
     {
      "type": "text_alignment",
      "id": "title_alignment",
      "label": "Section Title Alignment"
    },
       {
      "type": "select",
      "id": "sec_size",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "container-fluid",
          "label": "Container-fluid"
        },
        {
          "value": "page-width",
          "label": "Page-width"
        }
      ],
      "default": "container",
      "label": "Section Size"
    },
     {
      "type": "range",
      "id": "desktop_items",
      "min": 0,
      "max": 5,
      "step": 1,
      "label": "Desktop Items",
      "default": 4
    },
     {
      "type": "range",
      "id": "tabs_items",
      "min": 0,
      "max": 5,
      "step": 1,
      "label": "Tablets Items",
      "default": 3
    },
     {
      "type": "range",
      "id": "mobile_items",
      "min": 0,
      "max": 5,
      "step": 1,
      "label": "Desktop Items",
      "default": 1
    },
      {
      "type": "header",
      "content": "Card Setting"
    },
      {
      "type": "color",
      "id": "card_title_color",
      "label": "Card Title Color"
    },
     {
      "type": "range",
      "id": "card_rounded",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Card Rounded",
      "default": 10
    },
      {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Padding Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 50
    },
       {
      "type": "header",
      "content": "Section Padding Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mob",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 50
    },

    {
      "type": "range",
      "id": "padding_bottom_mob",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "selected_product",
          "label": "Select Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Card Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}